:root {
    --nav-normal-font-family: "Goldman-Regular", Helvetica;
    --nav-normal-font-size: 24px;
    --nav-normal-font-style: normal;
    --nav-normal-font-weight: 400;
    --nav-normal-letter-spacing: -0.6px;
    --nav-normal-line-height: normal;
    --nav-title-font-family: "Goldman-Regular", Helvetica;
    --nav-title-font-size: 30px;
    --nav-title-font-style: normal;
    --nav-title-font-weight: 400;
    --nav-title-letter-spacing: -0.75px;
    --nav-title-line-height: normal;
  }
  